body {
  background-color: #edebe4;
}

.heading-container {
  height: 100vh;
  width: 100vw;
}

.heading {
  color: #2b764c;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

.line-border {
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: solid 4px #2b764c;
  border-top: solid 4px #2b764c;
}

.projects-container {
  background-color: #2b764c;
  height: 100vh;
  width: 100vw;
}

.project-title {
  padding-top: 3%;
  padding-left: 5%;
  font-size: 30px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.seekr {
  background-color: #edebe4;
  color: #2b764c;
  font-size: 20px;
  height: 400px;
  width: 300px;
  border-radius: 37% 63% 44% 56% / 23% 48% 52% 77%;
  border: solid 1px #edebe4;
}

.pup-quiz {
  background-color: #edebe4;
  color: #2b764c;
  font-size: 20px;
  height: 400px;
  width: 300px;
  border-radius: 79% 21% 30% 70% / 36% 45% 55% 64%;
  border: solid 1px #edebe4;
}

.fruitfy-juicery {
  background-color: #edebe4;
  color: #2b764c;
  font-size: 20px;
  height: 400px;
  width: 300px;
  border-radius: 29% 71% 59% 41% / 82% 55% 45% 18%;
  border: solid 3px darkslategray;
}

.contact-container {
  background-color: #edebe4;
  height: 100vh;
  width: 100vw;
}

.contact-form-container {
  color: #2b764c;
  margin-left: 5%;
  margin-top: 5%;
}

.seekr-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.seekr-content {
  background-color: #edebe4;
  position: absolute;
  width: 75%;
  height: 75%;
  align-items: center;
}
